.form
  %form.js-form
    %input.form__message{placeholder: "type a message", type: "text"}/
    .form__mask
      %label.form__mask__image
        = fa_icon "picture-o"
    %input.form__submit{type: "submit", value: "Send"}/
