.messages
  .message
    .upper-message
      .upper-message__user-name
        AIKO
      .upper-message__date
        2018/02/16 10:30
    .lower-message
      message1
  .message2
    .upper-message2
      .upper-message2__user-name
        AIKO
      .upper-message2__date
        2018/02/18 09:43
    .lower-message2
      ç”»åƒ
  .message3
    .upper-message3
      .upper-message3__user-name
        AIKO
      .upper-message3__date
        2018/02/18 10:43
    .lower-message3
      message3
