.header
  .header__name
    AIKO
  %ul.header__lists
    %li.list
      = fa_icon "edit"
    %li.list
      = fa_icon "cog"
.groups
  .group
    .group__name
      123
    .group__message
      message lastest
  .group2
    .group2__name
      あかさたな
    .group2__message
      message3
  .group3
    .group3__name
      kisshug
    .group3__message
      no message here
