.wrapper
  .side-bar
    = render "shared/side-bar"
  .chat
    = render "shared/chat-header"
    .messages
      = render partial: "shared/chat-mssgs", collection: @messages, as: "message"
    = render "shared/chat-form"

