.header
  .left-header
    .left-header__title
      =@group.group_name
    %ul.left-header__members
      Member：
      - @group.users.each do |f|
        %li.left-header__member
          = f.name
  .right-header
    = link_to "Edit", edit_group_path(@group.id), class: "right-header__button"
