.form {
  background-color: #ddd;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 40px;
  &__message {
    box-sizing: border-box;
    height: 50px;
    font-size: 16px;
    color: #434A54;
    float: left;
    padding-left: 10px;
    width: calc(100% - 145px);
    border-style: none;
  }
  &__mask {
    height: 50px;
    line-height: 50px;
    float: left;
    &__image {
      background-color: $white;
      float: left;
      .icon {
        padding-right: 10px;
      }
      .hidden {
        display: none;
      }
    }
  }
  &__submit {
    background-color: #38AEF0;
    color: $white;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
    padding: 0 30px;
    float: right;
  }
}
